<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729132625350-vgj0inifotp3lsqbnscud8h4408m81al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729132625350-vgj0inifotp3lsqbnscud8h4408m81al</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729132625350-t3vae3nc90gqdmrss2m70sb2k9d3sa9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIutw0P4EHtSYnQZDNePeSZS6vJRAWeWg</string>
	<key>GCM_SENDER_ID</key>
	<string>729132625350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.dairyfood.customer</string>
	<key>PROJECT_ID</key>
	<string>dairy-food-development</string>
	<key>STORAGE_BUCKET</key>
	<string>dairy-food-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729132625350:ios:0083c78428227a121096c7</string>
</dict>
</plist>